
*.ipynb
*.ini
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

venv/
.venv/
ENV/
env.bak/
venv.bak/

.env
.flaskenv
secrets.py
*.log
config.json 

*.db
*.sqlite3
*.sqlite

.ipynb_checkpoints
.anaconda/
/data/
*.pkl
*.joblib
*.model
*.h5

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db
/OOP/basics/basic_oop.py
OOP/final oop proj/database.json
telegram/cafe_bot_root/cafe_bot/model/dataset_generator.py
OOP/final oop proj/orders.json
OOP/final oop proj/products.json
OOP/final oop proj/robots.json
OOP/final oop proj/test.json
